.expreiences{
    margin: 169px 0;
}


.expreiences__title{
    text-align: center;
    font-size: 48px;
}
.expreiences__card--item:nth-child(1){
    background-color: $darkPink;
}
.expreiences__card--item:nth-child(2){
    background-color: $lightRed;
}
.expreiences__card--item:nth-child(3){
    background-color: $lightGrey;
}