.container{
        width: 1500px;
        margin: 0 auto;
    }
    .stay__box{
        width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
       
        .card{
            position: relative;
            .card-title{
                color: #fff;
                text-align: center;
                position: absolute;
                bottom: 60px;
                left: 20px;
                font-size: 48px;
            }
        }
    }
    .stay__title{
        color: #222;
        text-align: center;
        margin-bottom: 40px;
   }